<footer class="footer">
  <a href="/" class="logo">
    <img
      src="/images/zooexpress-icon.png"
      alt="Zoo Express Home"
      loading="lazy"
    />
  </a>
  <div class="footer_wrapper">
    <div>
      <a href="https://facebook.com">
        <img
          src="./images/facebook_logo.png"
          alt="Facebook logo"
          width="50px"
          height="auto"
        />
      </a>
    </div>
    <div>
      <a href="https://linkedin.com">
        <img
          src="./images/linkedin_logo.png"
          alt="Linkedin logo"
          width="50px"
          height="auto"
        />
      </a>
    </div>
    <div>
      <a href="https://www.tiktok.com">
        <img
          src="./images/tiktok_logo.png"
          alt="Tiktok logo"
          width="50px"
          height="auto"
        />
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com">
        <img
          src="./images/instagram_logo.png"
          alt="Instagram logo"
          width="50px"
          height="auto"
        />
      </a>
    </div>
    <div>
      <a href="https://x.com">
        <img
          src="./images/x_logo.png"
          alt="X logo"
          width="50px"
          height="auto"
        />
      </a>
    </div>
  </div>
</footer>
