<footer class="footer">
      <div class="footer-copyright">&copy; Zoo Express</div>
      <div class="footer-wrapper">
        <div>
          <a href="https://facebook.com">
            <img
              src="./logos/facebook_logo.png"
              alt="Facebook logo"
              width="50px"
              height="auto"
            />
          </a>
        </div>
        <div>
          <a href="https://linkedin.com">
            <img
              src="./logos/linkedin_logo.png"
              alt="Linkedin logo"
              width="50px"
              height="auto"
            />
          </a>
        </div>
        <div>
          <a href="https://www.tiktok.com">
            <img
              src="./logos/tiktok_logo.png"
              alt="Tiktok logo"
              width="50px"
              height="auto"
            />
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com">
            <img
              src="./logos/instagram_logo.png"
              alt="Instagram logo"
              width="50px"
              height="auto"
            />
          </a>
        </div>
        <div>
          <a href="https://x.com">
            <img
              src="./logos/x_logo.png"
              alt="X logo"
              width="50px"
              height="auto"
            />
          </a>
        </div>
      </div>
    </footer>