<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zoo Express</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/zooExpress/index.js" defer></script>
  </head>
</html>
