<section class="hero">
  <div class="hero_parent">
    <div class="child">
      <div class="hero_title">
        <h2 class="hero-title">Welcome to Zoo Express</h2>
      </div>
      <div class="hero_subtitle">
        <h4 class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h4>
      </div>
      <a href="/about" class="hero_btn">Our Mission</a>
    </div>
    <div class="child hero_img" alt="hero image"></div>       
  </div>
  <div class="hero_border"></div>
</section>
