<section class="home_animals">
    <h1 class="home_animals-title">Our animals</h1>
    <div class="home_animals-container">
        <%- include("../partials/infocard.ejs", { animals: animalsInfo }) %>
    </div>
</section>