<header class="header">
  <nav class="navbar">
    <nav class="navbar">
      <a href="/mammals">Mammals</a>
      <a href="/reptiles">Reptiles</a>
      <a href="/birds">Birds</a>
      <a href="/about">About Us</a>
    </nav>
  </nav>
</header>
