<header class="header">
  <nav class="navbar">
    <a class="animal_list" href="/mammals">Mammals</a>
    <a class="animal_list" href="/reptiles">Reptiles</a>
    <a class="animal_list" href="/birds">Birds</a>
    <a class="animal_list" href="/about">About Us</a>
  </nav>
</header>
