<header class="header">
  <a href="/" class="logo">
    <img
      src="/images/zooexpress-icon.png"
      alt="Zoo Express Home"
      loading="lazy"
    />
  </a>
  <nav class="navbar">
    <a class="animal_list" href="/mammals">Mammals</a>
    <a class="animal_list" href="/reptiles">Reptiles</a>
    <a class="animal_list" href="/birds">Birds</a>
    <a class="animal_list" href="/about">About Us</a>
  </nav>
</header>
