<div class="sidebar">
  <ul class="sidebar-animals">
    <% if(animalsList) { %>
      <% animalsList.forEach(animal => { %>
        <li>
          <a href="#"รง class="sidebar-animals-button">
            <%= animal.name %>
          </a>
        </li>
     <% }); %>
     <% } %>
  </ul>
</div>
