<div class="sidebar">
  <a href="?" class="sidebar-animals-button">Show all animals</a>
  <ul class="sidebar-animals">
    <% if(animalsList) { %>
      <% animalsList.forEach(animal => { %>
        <li>
          <a href="?name=<%= animal.name %>"class="sidebar-animals-button">
            <%= animal.name %>
          </a>
        </li>
     <% }); %>
     <% } %>
  </ul>
</div>
