<%- include("../partials/head.ejs")%>
<%- include("../partials/menu.ejs")%>
<body>
  <% if (locals.animalsList) { %>
    <% if (pageType==="animals" ) { %>
      <%- include('../partials/animals') %>
        <% }} %>
        <%- include('../partials/footer')  %>
</body>

</html>