<%- include("../partials/head.ejs")%>
 <%- include("../partials/menu.ejs")%>
<body>
  <nav class="nav">
    <button class="nav-button">
      <a class="nav-item" href="/reptiles">Reptiles</a>
    </button>
    <button class="nav-button">
      <a class="nav-item" href="/mammals">Mammals</a>
    </button>
    <button class="nav-button">
      <a class="nav-item" href="/birds">Birds</a>
    </button>
  </nav>
</body>

</html>