/* STYLING */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "helvetica-neue-lt-pro", sans-serif;
}

:root {
  --primary-color-orange: #f46036; /* header, buttons, page-titles, accents */
  --secondary-color-yellow: #ffc53a; /* Sidebar, accents, birds, hero background color */
  --accent-color-green: #13505b; /* Used for footer, reptiles, accents */
  --background-color: #faf9f5; /* Main background color for the website */
  --text-color-black: #000000; /* Primary text color for paragraphs */
  --text-color-white: #ffffff; /* Text on dark backgrounds, such as headers, buttons, and hero page */
  font-family:
    "helvetica-neue-lt-pro", sans-serif; /* Global font for the website. "<link rel="stylesheet" href="https://use.typekit.net/bju8pmn.css">" <-- needs to be added to index.ejs */
}

h1 {
    font-weight: inherit;
}

h2 {
    font-weight: inherit;
}

h4 {
    font-weight: inherit;
}
a {
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
}

/* NAVBAR */

.header {
  background-color: var(--primary-color-orange);
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 48px;
  display: flex;
  margin-right: auto;
}

.navbar {
  align-items: center;
  font-size: 2rem;
  display: flex;
  color: var(--text-color-white);
  gap: 40px;
  justify-content: center;
  padding: 25px;
}

.animal_list {
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 1rem;
  font-weight: 500;
}

.animal_list:hover {
  text-decoration: underline;
}

.container {
  flex-grow: 1;
  display: flex;
}

.sidebar {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-yellow);
}

.sidebar-animals {
  text-align: center;
  list-style: none;
  padding: 0;
}

.sidebar-animals li {
  list-style: none;
}

.sidebar-animals-button {
  display: inline-block;
  padding: 12px 18px;
  background-color: var(--secondary-color-yellow);
  color: var(--text-color-white);
  font-size: 1.4rem;
  border-radius: 24px;
  cursor: pointer;
  margin: 16px;
  text-decoration: none;
}

.sidebar-animals-button:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}

.footer {
  background-color: var(--accent-color-green);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-color-white);
}

.footer_copyright {
  font-size: 24px;
  padding-top: 10px;
}

.footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: end;
}

.animal_container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  background-color: var(--background-color);
}

.animal-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.animal_card {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
  background-color: var(--primary-color-orange);
  border-radius: 20px;
  color: var(--text-color-white);
}

.animal_text {
  flex-direction: column;
  width: 40%;
}

.animal_box {
  padding: 16px;
}

.animal_group_name {
  color: var(--primary-color-orange);
}

.animal_title {
}

.animal_information {
  font-weight: lighter;
}

.animal_image {
}

.hero {
    height: calc(100vh - 10vh);
    min-height: max-content;
    display: flex;
    flex-direction: column;  
    background-color: var(--secondary-color-yellow);
}
.hero_parent {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    margin: 0 10vw;
    max-width: 1087px;
    height: 80%;
    min-height: max-content;
    gap: 34px;
}

.child {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

    
.hero_title {
    color: var(--text-color-white);
    font-weight: bold;
    font-size: 3.5em;
}

.hero_subtitle {
    font-weight: 200;
    font-size: 1.2em;
    letter-spacing: 1.03px;
    width: 80%;
}

.hero_btn {
    background-color: var(--primary-color-orange);
    color: var(--text-color-white);
    border-radius: 5px;
    width: max-content;
    height: max-content;
    padding: 13px 27px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.1px;
}

.hero_btn:hover {
    background-color: rgba(244, 95, 54, 0.629);
    transition: background-color 0.3s ease;
}

.hero_img {
    width: 100%;
    height: 349px;
    background-image: url('../images/hero-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_border {
    background-image: url('../images/hero-border.png');
    width: 100%;
    height: 150px;
    margin-top: auto;
    align-self: flex-end;
    background-size: auto;
    background-repeat: repeat-x;
}

.mammal {
    color: var(--primary-color-orange);
}
.reptile {
    color: var(--accent-color-green);
}
.bird {
    color: var(--secondary-color-yellow);
}

.animal_name {
    color: var(--text-color-black);
    cursor: default;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 7px 0 4px 0;
}
.infocard {
    width: 235px;
}
.infocard img {
    background-color: var(--background-color);
    border-radius: 10px;
    height: 235px;
    object-fit: cover;
}

.infocard img:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: transform 0.3s ease;

}

.group_tag {
    border-radius: 3px;
    border: solid 1px;
    font-size: 12px;
    font-style: normal;
    font-weight: 300px;
    letter-spacing: 0.5px;
    padding: 3px 6px;
    text-decoration: none;
    text-transform: uppercase;
}
.group_tag:hover {
    color: var(--text-color-white);
    transition: background-color 0.3s ease;
}
.group_tag.mammal:hover {
    background-color: var(--primary-color-orange);
}

.group_tag.reptile:hover {
    background-color: var(--accent-color-green);
}
.group_tag.bird:hover {
    background-color: var(--secondary-color-yellow);
}

.home_animals {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px 0 69px 0;
}

.home_animals-title {
    color: var(--primary-color-orange);
    cursor: default;
    text-align: center;
    font-size: 99px;
    font-weight: 700;
    margin-bottom: 69px;
    text-transform: capitalize;
}

.home_animals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
    column-gap: 32px;
    max-width: 1087px;
}

@media screen and (max-width: 768px) {

    .hero {
        height: 85vh;
    }

    .hero_parent {
        flex-direction: column-reverse;
        align-self: center;
        align-items: center;
        margin: 0 10vw;
        max-width: 1087px;
        height: 80%;
        min-height: max-content;
        gap: 34px;
    }

    .hero_img {
        width: 100%;
        height: 200px;
    }
    .hero_title {
        font-size: 2em;
        text-align: center;
    }
    .child {
        align-items: center;
    }

    .hero_subtitle {
        font-size: 1em;
        text-align: center;
        width: 100%;
    }

    .hero_border {
        height: 80px;
        background-size: contain;
        background-position: bottom;
        margin-bottom: -3px;
    }
}