/* STYLING */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "helvetica-neue-lt-pro", sans-serif;
}

:root {
  --primary-color-orange: #f46036; /* header, buttons, page-titles, accents */
  --secondary-color-yellow: #ffc53a; /* Sidebar, accents, birds, hero background color */
  --accent-color-green: #13505b; /* Used for footer, reptiles, accents */
  --background-color: #faf9f5; /* Main background color for the website */
  --text-color-black: #000000; /* Primary text color for paragraphs */
  --text-color-white: #ffffff; /* Text on dark backgrounds, such as headers, buttons, and hero page */
  font-family:
    "helvetica-neue-lt-pro", sans-serif; /* Global font for the website. "<link rel="stylesheet" href="https://use.typekit.net/bju8pmn.css">" <-- needs to be added to index.ejs */
}

/* NAVBAR */

.header {
  background-color: var(--primary-color-orange);
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 48px;
  display: flex;
  margin-right: auto;
}

.navbar {
  align-items: center;
  font-size: 2rem;
  display: flex;
  color: var(--text-color-white);
  gap: 40px;
  justify-content: center;
  padding: 25px;
}

.animal_list {
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 1rem;
  font-weight: 500;
}

.animal_list:hover {
  text-decoration: underline;
}

.container {
  flex-grow: 1;
  display: flex;
}

.sidebar {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-yellow);
}

.sidebar-animals {
  text-align: center;
  list-style: none;
  padding: 0;
}

.sidebar-animals li {
  list-style: none;
}

.sidebar-animals-button {
  display: inline-block;
  padding: 12px 18px;
  background-color: var(--secondary-color-yellow);
  color: var(--text-color-white);
  font-size: 1.4rem;
  border-radius: 24px;
  cursor: pointer;
  margin: 16px;
  text-decoration: none;
}

.sidebar-animals-button:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}

.footer {
  background-color: var(--accent-color-green);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-color-white);
}

.footer_copyright {
  font-size: 24px;
  padding-top: 10px;
}

.footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: end;
}

.animal_container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  background-color: var(--background-color);
}

.animal-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.animal_card {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
  background-color: var(--primary-color-orange);
  border-radius: 20px;
  color: var(--text-color-white);
}

.animal_text {
  flex-direction: column;
  width: 40%;
}

.animal_box {
  padding: 16px;
}

.animal_group_name {
  color: var(--primary-color-orange);
}

.animal_title {
}

.animal_information {
  font-weight: lighter;
}

.animal_image {
}
