/* STYLING */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "helvetica.neue-lt-pro", sans-serif;
}

:root {
  --primary-color-orange: #f46036; /* header, buttons, page-titles, accents */
  --secondary-color-yellow: #ffc53a; /* Sidebar, accents, birds, hero background color */
  --accent-color-green: #13505b; /* Used for footer, reptiles, accents */
  --background-color: #faf9f5; /* Main background color for the website */
  --text-color-black: #000000; /* Primary text color for paragraphs */
  --text-color-white: #ffffff; /* Text on dark backgrounds, such as headers, buttons, and hero page */
  font-family:
    "helvetica-neue-lt-pro", sans-serif; /* Global font for the website. "<link rel="stylesheet" href="https://use.typekit.net/bju8pmn.css">" <-- needs to be added to index.ejs */
}

/* NAVBAR */

.header {
  background-color: var(--primary-color-orange);
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 48px;
  display: flex;
  margin-right: auto;
}

.navbar {
  align-items: center;
  font-size: 2rem;
  display: flex;
  color: var(--text-color-white);
  gap: 40px;
  justify-content: center;
  padding: 25px;
}

.animal_list {
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 1rem;
  font-weight: 500;
}

.animal_list:hover {
  text-decoration: underline;
}

.container {
  flex-grow: 1;
  display: flex;
}

.sidebar {
  flex: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-yellow);
}

.sidebar-animals {
  text-align: center;
  list-style: none;
  padding: 0;
}

.sidebar-animals li {
  list-style: none;
}

.sidebar-animals-button {
  display: inline-block;
  padding: 12px 18px;
  background-color: var(--secondary-color-yellow);
  color: var(--text-color-white);
  font-size: 1.4rem;
  border-radius: 24px;
  cursor: pointer;
  margin: 16px;
  text-decoration: none;
}

.sidebar-animals-button:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}
