/* STYLING */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "helveticaneue-lt-pro", sans-serif;
}

:root {
  --primary-color-orange: #f46036; /* header, buttons, page-titles, accents */
  --secondary-color-yellow: #ffc53a; /* Sidebar, accents, birds, hero background color */
  --accent-color-green: #13505b; /* Used for footer, reptiles, accents */
  --background-color: #faf9f5; /* Main background color for the website */
  --text-color-black: #000000; /* Primary text color for paragraphs */
  --text-color-white: #ffffff; /* Text on dark backgrounds, such as headers, buttons, and hero page */
  font-family:
    "helvetica-neue-lt-pro", sans-serif; /* Global font for the website. "<link rel="stylesheet" href="https://use.typekit.net/bju8pmn.css">" <-- needs to be added to index.ejs */
}


/* NAVBAR */

.header {
  background-color: var(--primary-color-orange);
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 48px;
  display: flex;
  margin-right: auto;
}

.navbar {
  align-items: center;
  font-size: 2rem;
  display: flex;
  color: var(--text-color-white);
  gap: 40px;
  justify-content: center;
  padding: 25px;
}

.animal_list {
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 1rem;
  font-weight: 500;
}

.animal_list:hover {
  text-decoration: underline;
}

.hero {
    background-color: var(--secondary-color-yellow);
}
.hero_parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

    
.hero_title {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.hero_subtitle {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
}

.hero_btn {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
}

.hero_img {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    grid-row-start: 1;
    background-color: var(--text-color-white);
    border-radius: 100%;
}
