/* STYLING */
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-orange: #f46036; /* header, buttons, page-titles, accents */
  --secondary-color-yellow: #ffc53a; /* Sidebar, accents, birds, hero background color */
  --accent-color-green: #13505b; /* Used for footer, reptiles, accents */
  --background-color: #faf9f5; /* Main background color for the website */
  --text-color-black: #000000; /* Primary text color for paragraphs */
  --text-color-white: #ffffff; /* Text on dark backgrounds, such as headers, buttons, and hero page */
  font-family:
    "helvetica-neue-lt-pro", sans-serif; /* Global font for the website. "<link rel="stylesheet" href="https://use.typekit.net/bju8pmn.css">" <-- needs to be added to index.ejs */
}

/* NAVBAR */
.navbar {
  align-items: center;
  background-color: var(--primary-color-orange);
  font-weight: bold;
  display: flex;
  color: var(--text-color-white);
  display: flex;
  gap: 80px;
  justify-content: center;
  padding: 15px 40px;
}

.animal_list {
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 0.9rem;
  font-weight: 500;
}

.animal_list:hover {
  text-decoration: underline;
}
